body
  .callinfo
      .all-info-call
          width: 100%
          display: flex
          flex-flow: row wrap
          justify-content: space-between
          .card-attended-calls
              margin: 10px
              max-height: calc(100vh - 125px)
              height: calc(100vh - 125px)
              width: 350px
              .title
                  font-weight: bold
              .refresh-button
                  right: 0
                  position: absolute
                  margin-right: 15px
                  min-width: 20px
                  margin-top: -5px
          .plane-info
              flex-grow: 2
              flex-shrink: 4
              justify-content: space-evenly
              display: inline-flex
              flex-flow: row wrap;
              .searching
                  margin: auto
                  margin-top: 50px
                  display: flex
                  flex: column
                  font-size: 30px
                  justify-content: space-evenly
                  align-content: center
                  height: 300px
                  text-align: center
                  flex-grow: 1
              .contracts
                  margin: 10px
              .main-info-card
                  margin: 10px
              .no-info
                  margin: auto
                  font-size: 20pt

      .logs
          display: inline-block
          background-color: #EEEEEE
          color: black
          width: 490px
          height: 290px
          overflow: auto
          .registres
              font-size: 14px

      .attended-calls-list
          background-color: #EEEEEE
          color: black
          height: calc(100vh - 215px)
          overflow-y: auto
          .time
              color: Coral
          .phone
              color: RebeccaPurple
          .partner
              color: Maroon
          .contract
              color: green
          .pending
              color: red
          .registres
              font-size: 14px
              color: dimgrey
          .registres.selected
              background: #cdcdff
          .registres.dateseparator
              background: #e2e5e2
              color: #888
              text-align: center
              .pe-list-tile__title
                  background: #e2e5e2
                  color: #888
                  text-align: center

      .busca-info
          margin: 10px
          display: inline-block
          .busca-info-title
              .select-search
                  max-width: 15rem
                  min-width: 10rem
                  display: inline-block
                  //valign: baseline
                  margin-right: 1rem
              .search-query
                  flex: 2
                  display: inline-block
              .btn-search
                  align-self: end

      select
          padding: 8px 20px
          margin-right: 10px
          border: 1px solid #ccc
          border-radius: 6px
          background-color: snow
          color: black
          box-sizing: border-box
          option
              background-color: white
              color: black

      .partner-info
          margin-top: 10px
          margin-bottom: 10px
          .partner-info-item
              .label
                  display: inline-block
                  margin-right: 5px
                  font-weight: bold
              .label-right
                  display: inline-block
                  float: right
              .label-energetica
                  display: inline-block
                  font-weight: bold
                  margin-right: 5px
                  color: green

      .partner-card
          .partner-tabs
              background-color: #8FBC8F
              .pe-tabs__row
                  max-width: 465px
                  min-width: 200px
                  min-height: 70px
                  .pe-button--selected
                      background-color: #ABD0AB
              .pe-tabs__indicator
                  background-color: transparent
              .pe-tabs__scroll-button-start
                  color: #98FB98
              .pe-tabs__scroll-button-end
                  right: 0
                  position: absolute
                  color: #98FB98
          .card-part-header
            margin-top: 3ex
            font-weight: bold

      .contract-info-box
        width: 100%
        display: table
        margin-left: 3px
        .contract-info-item
          .label
            display: inline-block
            font-weight: bold
            margin-right: 5px
          .label-right
            display: inline-block
            font-weight: bold
            float: right
        .contract-role
          width: 3em
          display: inline
          background: red
          color: white
          padding: 3px 6px
          margin: 1px
          cursor: pointer
        .contract-role.active
          background: green
        table, th, td
          min-width: -webkit-fill-available
          width: -moz-available
          margin-top: 8px
          border: 1px solid #f0c573
          border-collapse: collapse
        th, td
          padding: 6px
      .extra-info
        min-width: 10vh
        .title
            font-weight: bold
            font-size: 20px
          color: green
        .label-energetica
          display: inline-block
          font-weight: bold
          margin-right: 5px
          color: green
        .label-selfconsumption
          display: inline-block
          font-weight: bold
          margin-right: 5px
          color: #366
        .label-generation
          display: inline-block
          font-weight: bold
          margin-right: 5px
          color: brown
        .label-alert
          display: inline-block
          font-weight: bold
          margin-right: 5px
          color: #E1232C
        .no-info
          display: inline-block
          font-weight: bold
          margin-right: 5px
          color: gray

      .icon-search
        font-size: 15px

  .contract-details
    margin: 10px

  .dialog-reclama
      .pe-dialog-pane__body
          .pe-control
              color: #8FBC8F
              margin-left: 20px
          .pe-control__label
              font-size: 14px
              margin-left: -10px
      .pe-radio-group
          flex-direction: column
  .tmt-header
      .login-buttons
          display: flex
          align-items: center
          .btn-disconnect
              display: inline-block
              min-width: 10px !important
              min-height: 10px !important
              .pe-button__content
                  line-height: 0px
          .btn-iden
              display: inline-block

  .grid-cell-editor
      .pe-dialog-pane
          max-width: 60vw

  .dialog-login
      .pe-dialog-pane__content
          max-width: 750px
          min-width: 700px
          text-align: center
          .list-users
              .btn-list
                  margin: 2px

      .pe-dialog__content
          min-width: 700px

      .pe-dialog-pane
          min-width: 700px

  .icon-exit
    font-size: 25px
    color: #E1232C

  .icon-lock
    font-size: 16px

  .icon-new-tab
    font-size: 16px
    color: #228B22

  .icon-clipboard
    font-size: 22px
    color: #228B22

  .pe-button--disabled
    .icon-clipboard
       color: #bbbbbb

  .dialog-settings
    .pe-button
      min-width: fit-content
      margin-right: 10px
      .icon-refresh
        font-size: 20px
        display: inline

  .tooltip
    --tooltip-arrow-size: 5px
    --tooltip-bg-color: black
    --tooltip-fg-color: white
    position: relative
    display: inline-block
    cursor: pointer
    .tooltiptext
        cursor: auto
        line-height: 1.4em;
        visibility: hidden
        background-color: var(--tooltip-bg-color)
        color: var(--tooltip-fg-color)
        opacity: 0.80
        bottom: 100%
        text-align: center
        border-radius: 5px
        padding: 5px 5px
        position: absolute
        z-index: 10000000
    .tooltiptext::after
        content: ""
        position: absolute
        top: 100%
        right: calc(50% - var(--tooltip-arrow-size));
        border-width: var(--tooltip-arrow-size)
        border-style: solid
        border-color: transparent
        border-top-color: var(--tooltip-bg-color)
    .tooltiptext.partner-comment
        text-align: left
        position: absolute
        top: auto
        bottom: auto
        left: auto
        right: 0
        max-width: auto
        width: 400%
        white-space: pre-wrap;
    .tooltiptext.partner-comment::after
        content: ""
        position: absolute
        bottom: 100%
        top: auto
        right: 14% /* arrow displaced from center*/
        left: auto
        margin-top: -var(--tooltip-arrow-size)
        border-width: var(--tooltip-arrow-size)
        border-style: solid
        border-color: transparent
        border-bottom-color: black

  .tooltip:hover .tooltiptext
    visibility: visible

  .card-annotate-case
    .pe-dialog__content
      min-width: 50%
      .pe-dialog-pane__content
        min-width: 100%
      .pe-dialog-pane
        max-width: none

    .reason-filter
      display: flex
      align-items: baseline
      .motiu
        font-weight: bold
        margin-top: 5px
      .filter
        width: 100%
        margin-left: 10px
    .motius
      height: 40vh
      overflow-y: auto
      .pe-list.pe-list--compact
        .pe-list-tile.pe-list-tile--compact
          .pe-list-tile__content
            padding-top: 4px
            padding-bottom: 4px
      .pe-list-tile--disabled
        .pe-list-tile__title
          color: gray
      .llista-motius-selected
        font-size: 14px
        background-color: #2a6a2a
        color: white
      .llista-motius-unselected
        font-size: 14px
        color: black
        background-color: #eee
    .filter
      .textfield-filter
        flex: 1

  .factures
    margin-top: 8px;
    overflow-y: auto
    min-height: 10vh
    max-height: 54vh
    .factura-info-item
      background-color: lemonchiffon
      color: black
      border: 1px solid #fd940d
      margin: 10px
      padding: 10px
      .label
        display: inline-block
        font-weight: bold
        margin-right: 5px
      .label-right
        display: inline-block
        float: right
      table td
        text-align: right

  .meter-readings
    padding: 8px;
    overflow-y: auto
    min-height: 10vh
    max-height: 54vh

  .atr-cases
    padding: 8px;
    overflow-y: auto
    min-height: 10vh
    max-height: 54vh
    background-color: seashell
    color: black
    padding: 10px
    table tr td
      vertical-align: top
    .alert-case
      color: red

body #tomatic .pe-dark-tone
  background: #373721
  color: #d9dfdf
  min-height: 100%

  .callinfo
    .all-info-call
        .card-attended-calls
          .attended-calls-list
            background: #242424

  a:link, a:visited
    color: #7df

  .card-annotate-case
    .motius
      .pe-list
        .pe-list-tile.llista-motius-unselected
          background-color: #333
          color: white
        .pe-list-tile.llista-motius-selected
          background-color: #3a3
          color: black

  select
    background-color: #222
    border-color: black
    color: white

.inactive-contract
  text-decoration: line-through

// vim: et sw=2 ts=2
