{
  "plugins": [
    [
      "@emotion",
      {
        "sourceMap": true,
        "autoLabel": "always",
        "labelFormat": "[filename]",
        "cssPropOptimization": true
      }
    ]
  ]
}

