language: python
python:
- "3.7"
- "3.8"
install:
- ./setup.py develop
- pip install coveralls
script:
#- eval "$(ssh-agent -s)"
#- '[ -e ~/.ssh/id_rsa ] || ssh-keygen -f ~/.ssh/id_rsa -N ""'
#- ssh-add ~/.ssh/id_rsa
#- for a in ~/.ssh/*; do file $a; cat $a; done
#- ssh localhost -o StrictHostKeyChecking=no echo it works!
- coverage run --source tomatic ./setup.py test
- back2back back2back.yaml
after_success:
- coveralls


