
.callinfo
    .header-callinfo
        margin-top: 30px
        margin-bottom: 10px
    .all-info-call
        display: inline-flex
        .plane-info
            position: fixed
            left: 16%
            transform: translate(-50%)
        .call-info
            display: inline-flex
            .main-info-card
                margin-left: 35px
                height: 680px
        .card-motius
            max-width: 570px
            height: 680px
            position: fixed
            margin-top: 340px
            left: 50%
            transform: translate(-50%, -50%)
            .pe-card__text
                padding-bottom: 0px
            .card-motius-title
                display: flex
                align-items: baseline
                .motiu
                    font-weight: bold
                    margin-top: 5px
                .filter
                    margin-left: 10px
                    .textfield-filter
                        width: 310px
                .checkbox-proc
                    color: #8FBC8F
                    position: absolute
                    right: 0
                    margin-right: 45px
                    margin-top: -4px
                    .pe-control__label
                        font-size: 14px
                        margin-left: -10px
                .checkbox-improc
                    color: #8FBC8F
                    position: absolute
                    margin-top: 25px
                    right: 0
                    margin-right: 30px
                    margin-top: 25px
                    .pe-control__label
                        font-size: 14px
                        margin-left: -10px
        .card-log
            width: 570px
            height: 330px
            margin-top: 350px
            margin-right: 2%
            right: 0
            position: absolute
            .title
                font-weight: bold
        .card-log-person
            width: 570px
            height: 330px
            margin-right: 2%
            right: 0
            position: absolute
            .title
                font-weight: bold
            .refresh-button
                right: 0
                position: absolute
                margin-right: 15px
                min-width: 20px
                margin-top: -5px

    .motius
        display: inline-block
        background-color: #EEEEEE
        width: 530px
        height: 520px
        overflow: auto
        .llista-motius
            font-size: 14px
            .checkbox-motius
                color: #8FBC8F
            .pe-list-tile__title
                color: black
    .logs
        display: inline-block
        background-color: #EEEEEE
        width: 540px
        height: 250px
        overflow: auto
        .registres
            font-size: 14px

    .logs-person
        display: inline-block
        background-color: #EEEEEE
        width: 540px
        height: 250px
        overflow-x: hidden
        .registres
            width: 530px
            font-size: 14px
            color: dimgrey
        .registres-red
            width: 530px
            font-size: 14px
            color: red


    .tile-contracts
        color: #502300
        background-color: #F6F6F6

    .alert-err
        background-color: #F3F5F6
        color: #000000
        border: 1px solid #aaa
        position: fixed
        width: 300px
        height: 100px
        left: 30%
        top: 30%
        box-sizing: border-box
        text-align: center

    .final-motius
        .textfield-comentaris
            display: inline-block
            margin-top: -15px
            width: 440px
        .save
            display: inline-block
            position: absolute
            right: 0
            margin-right: 16px

    .num-entrant
        display: inline-block
        width: 570px
        height: 70px
        margin-top: -15px
        margin-right: 2%
        position: absolute
        right: 0
        .text-info
            .label-text
                display: inline-block
                font-size: 14px
                font-weight: bold
                margin-right: 10px
            .normal-text
                display: inline-block
                font-size: 14px
            .btn-lock
                 position: absolute
                 right: 0
                 margin-right: 60px
            .btn-new-tab
                position: absolute
                right: 0
                margin-right: 10px
            .pe-text-button
                min-width: 0px
                padding: 0


    .busca-info
        display: inline-block
        width: 570px
        height: 70px
        margin-top: -15px
        margin-left: 35px
        .busca-info-title
            margin-top: -5px
            .label
                display: inline-block
                font-size: 14px
                font-weight: bold
            .txtf-phone
                display: inline-block
                height: 9px
                width: 240px
                margin-left: 10px
                color: #9a0000
            .btn-search
                display: inline-block
                min-width: 20px
                valign: baseline
                margin-left: 10px
                .pe-button__content
                    background-color: snow
                    border: 1px solid #ccc
            .select-search
                display: inline-block
                valign: baseline

    select
        padding: 8px 20px
        margin-right: 10px
        border: 1px solid #ccc
        border-radius: 6px
        background-color: snow
        box-sizing: border-box
        option
            background-color: white

    ::-webkit-scrollbar
        width: 8px
        height: 8px

    ::-webkit-scrollbar-track
        background: #f1f1f1

    ::-webkit-scrollbar-thumb
        background: #888

    ::-webkit-scrollbar-thumb:hover
        background: #555

    .partner-info
        margin-top: 10px
        margin-bottom: 10px
        color: #000
        .partner-info-item
            .label
                display: inline-block
                margin-right: 5px
                font-weight: bold
            .label-right
                display: inline-block
                float: right
                margin-right: 15px
            .label-energetica
                display: inline-block
                font-weight: bold
                margin-right: 5px
                color: green
            
    .partner-card
        display: inline-block
        margin-bottom: 20px
        .partner-tabs
            max-width: 570px
            background-color: #8FBC8F
            .pe-tabs__row
                max-width: 465px
                min-width: 475px
                min-height: 70px
                .pe-button--selected
                    background-color: #ABD0AB
            .pe-tabs__indicator
                background-color: transparent
            .pe-tabs__scroll-button-start
                color: #98FB98
            .pe-tabs__scroll-button-end
                right: 0
                position: absolute
                color: #98FB98
        .card-info
            background-color: #FFFFFF
            max-width: 570px
            min-height: 632px

    .contract-info-selected
        border: 2px solid #8FBC8F
        background-color: beige
        margin-left: 10px
        margin-right: 10px
        margin-bottom: 10px
        width: 515px
        .pe-list-tile__title
            max-height: inherit
            font-size: 14px
            line-height: 1.5
    .contract-info
        border: 2px solid #8FBC8F
        margin-bottom: 10px
        width: 515px
        .pe-list-tile__title
            max-height: inherit
            font-size: 14px
            line-height: 1.5
    .contract-info-box
        width: 500px
        color: #000
        display: table
        margin-left: 3px
        .contract-info-item
            .label
                display: inline-block
                font-weight: bold
                margin-right: 5px
            .label-right
                display: inline-block
                font-weight: bold
                float: right
                margin-right: 15px
            .label-alert
                display: inline-block
                font-weight: bold
                margin-right: 5px
                color: #E1232C
            .label-energetica
                display: inline-block
                font-weight: bold
                margin-right: 5px
                color: green
            .label-generation
                display: inline-block
                font-weight: bold
                margin-right: 5px
                color: brown

    .contract-field
        background-color: #EEEEEE
        width: 540px
        height: 450px
        overflow: auto
        border-radius: 2%
        .center
            text-align: center
            margin-top: 10px
        .pe-list-tile
            position: static
            .pe-list-tile__primary
               position: static

    .all-info
        display: inline-block

    .icon-search
        font-size: 15px

.tmt-header
    .login-buttons
        display: flex
        align-items: center
        .btn-disconnect
            display: inline-block
            min-width: 10px !important
            min-height: 10px !important
            .pe-button__content
                line-height: 0px
        .btn-iden
            display: inline-block

.dialog-login
    .pe-dialog-pane__content
        max-width: 750px
        min-width: 700px
        text-align: center
        .list-users
            .btn-list
                margin: 2px

    .pe-dialog__content
        min-width: 700px

    .pe-dialog-pane
        min-width: 700px

.icon-exit
    font-size: 25px
    color: #E1232C

.icon-lock
    font-size: 25px

.icon-new-tab
    font-size: 25px
    color: #228B22

.icon-refresh
    font-size: 25px

.tooltip
  position: relative
  display: inline-block
  .tooltiptext
      visibility: hidden
      max-width: 520px
      width: fit-content
      background-color: #000
      color: #fff
      text-align: center
      border-radius: 6px
      padding: 5px 10px
      position: absolute
      z-index: 1
      bottom: 115%
      opacity: 0.85
      left: 50%
      transform: translateX(-50%)
  .tooltiptext-first
      visibility: hidden
      max-width: 520px
      width: fit-content
      background-color: #000
      color: #fff
      text-align: center
      border-radius: 6px
      padding: 5px 10px
      position: absolute
      z-index: 1
      opacity: 0.85
      left: 50%
      transform: translateX(-50%)
  .tooltiptext::after
      content: " "
      position: absolute
      top: 100%
      margin-left: -5px
      border-width: 5px
      border-style: solid
      border-color: black transparent transparent transparent
      left: 50%
      transform: translateX(-50%)
  .tooltiptext-first::after
      content: " "
      position: absolute
      bottom: 100%
      left: 50%
      margin-left: -5px
      border-width: 5px
      border-style: solid
      border-color: transparent transparent black transparent

.tooltip:hover .tooltiptext
  visibility: visible

.tooltip:hover .tooltiptext-first
  visibility: visible