
.callinfo
    .info
        margin-top: 30px
        margin-left: 20px
        margin-bottom: 10px

    .tile-contracts
        color: #502300
        background-color: #F6F6F6

    .alert-err
        background-color: #F3F5F6
        color: #000000
        border: 1px solid #aaa
        position: fixed
        width: 300px
        height: 100px
        left: 30%
        top: 30%
        box-sizing: border-box
        text-align: center

    .motius
        background-color: #EEEEEE
        width: 630px
        height: 260px
        overflow: auto
        .llista-motius
            font-size: 14px
            .checkbox-motius
                color: #8FBC8F

    .logs
        background-color: #EEEEEE
        width: 630px
        height: 155px
        overflow: auto
        .registres
            font-size: 14px

    .card-motius
        display: inline-block
        max-width: 680px
        max-height: 450px
        position: absolute
        right: 0
        margin-right: 40px
        margin-top: 8px
        .card-motius-title
            display: flex
            align-items: baseline
            .motiu
                font-weight: bold
                margin-top: 5px
            .filter
                margin-left: 10px
                .textfield-filter
                    width: 400px
            .save
                margin-left: 80px

    .textfield-comentaris
        margin-top: -5px
        width: 680px

    .card-log
        display: inline-block
        max-width: 680px
        max-height: 300px
        margin-right: 40px
        margin-top: 450px
        position: absolute
        right: 0
        width: 700px
        .title
            font-weight: bold

    .num-entrant
        display: inline-block
        width: 380px
        height: 70px
        margin-top: -15px
        margin-right: 40px
        position: absolute
        right: 0

    .busca-info
        display: inline-block
        width: 280px
        height: 70px
        margin-top: -15px
        margin-right: 40px
        .busca-info-title
            display: flex
            align-items: baseline
            margin-top: -15px
            .label
                font-size: 14px
                font-weight: bold
            .txtf-phone
                height: 9px
                width: 150px
                margin-left: 10px
                color: #9a0000
            .btn-search
                min-width: 20px
                valign: baseline

    ::-webkit-scrollbar
        width: 8px

    ::-webkit-scrollbar-track
        background: #f1f1f1

    ::-webkit-scrollbar-thumb
        background: #888

    ::-webkit-scrollbar-thumb:hover
        background: #555

    .partner-info
        margin-top: 10px
        margin-bottom: 10px
        color: #000
        .partner-info-item
            .label
                display: inline-block
                margin-right: 5px
                font-weight: bold
            .label-right
                display: inline-block
                float: right
                margin-right: 15px
            
    .partner-card
        margin-bottom: 20px
        .partner-tabs
            background-color: #8FBC8F
        .card-info
            background-color: #FFFFFF
            max-width: 570px


    .contract-info
        border: 2px solid #8FBC8F
        margin-left: 10px
        margin-right: 10px
        margin-bottom: 10px
        width: 515px
        .contract-info-box
            margin-top: 5px
            margin-left: 10px
            width: 500px
            margin-bottom: 5px
            color: #000
            .contract-info-item
                .label
                    display: inline-block
                    font-weight: bold
                    margin-right: 5px
                .label-right
                    display: inline-block
                    font-weight: bold
                    float: right
                    margin-right: 15px
                .label-alert
                    display: inline-block
                    font-weight: bold
                    margin-right: 5px
                    color: #E1232C
                .label-energetica
                    display: inline-block
                    font-weight: bold
                    margin-right: 5px
                    color: green
                .label-generation
                    display: inline-block
                    font-weight: bold
                    margin-right: 5px
                    color: brown

    .contract-field
        background-color: #EEEEEE
        width: 540px
        height: 450px
        overflow: auto
        border-radius: 2%

    .main-info-card
        margin-left: 30px
        height: 680px
        display: inline-block
        margin-right: 10px

    .all-info
        display: inline-block

    .icon-search
        font-size: 15px


.tmt-header
    .login-buttons
        display: flex
        align-items: center
        .btn-disconnect
            display: inline-block
            min-width: 10px !important
            min-height: 10px !important
        .btn-iden
            display: inline-block

.dialog-login
    display: flex
    align-items: center !important
    justify-content: center
    text-align: center
    margin-left: 500px
    max-width: 750px !important
    .list-users
        .btn-list
            margin: 3px

.icon-exit
    font-size: 25px
    color: #E1232C
