
.callinfo
    .info
        margin-top: 30px
        margin-left: 10px
        margin-bottom: 10px

    .all-info-call
        display: inline-flex
        .text-info
            margin-left: 30px
        .spinner-info
            margin-left: 30px
        .call-info
            display: inline-flex
            .main-info-card
                margin-left: 30px
                height: 680px
                margin-right: 20px
            .card-motius
                max-width: 680px
                max-height: 350px
                min-height: 350px
                margin-right: 15px
                .pe-card__text
                    padding-bottom: 0px
                .card-motius-title
                    display: flex
                    align-items: baseline
                    .motiu
                        font-weight: bold
                        margin-top: 5px
                    .filter
                        margin-left: 10px
                        .textfield-filter
                            width: 400px
                    .save
                        margin-left: 80px
            .card-log
                max-width: 680px
                max-height: 305px
                margin-top: 20px
                .title
                    font-weight: bold
        .card-log-person
            max-width: 380px
            min-width: 380px
            max-height: 670px
            min-height: 670px
            margin-right: 30px
            right: 0
            position: absolute
            .title
                font-weight: bold
            .refresh-button
                right: 0
                position: absolute
                margin-right: 15px
                min-width: 20px
                margin-top: -5px

    .motius
        display: inline-block
        background-color: #EEEEEE
        width: 630px
        height: 200px
        overflow: auto
        .llista-motius
            font-size: 14px
            .checkbox-motius
                color: #8FBC8F
    .logs
        display: inline-block
        background-color: #EEEEEE
        width: 645px
        height: 210px
        overflow: auto
        .registres
            font-size: 14px

    .logs-person
        display: inline-block
        background-color: #EEEEEE
        width: 350px
        height: 570px
        overflow: auto
        .registres
            font-size: 14px
        .registres-red
            font-size: 14px
            color: red


    .tile-contracts
        color: #502300
        background-color: #F6F6F6

    .alert-err
        background-color: #F3F5F6
        color: #000000
        border: 1px solid #aaa
        position: fixed
        width: 300px
        height: 100px
        left: 30%
        top: 30%
        box-sizing: border-box
        text-align: center

    .textfield-comentaris
        margin-top: -15px
        width: 680px

    .num-entrant
        display: inline-block
        width: 380px
        height: 70px
        margin-top: -15px
        margin-right: 30px
        position: absolute
        right: 0
        .text-info
            .label-text
                display: inline-block
                font-size: 14px
                font-weight: bold
                margin-right: 10px
            .normal-text
                display: inline-block
                font-size: 14px
            .btn-lock
                 position: absolute
                 right: 0
                 margin-right: 60px
            .btn-new-tab
                position: absolute
                right: 0
                margin-right: 10px
            .pe-text-button
                min-width: 0px
                padding: 0


    .busca-info
        display: inline-block
        width: 380px
        height: 70px
        margin-top: -15px
        margin-left: 20px
        .busca-info-title
            margin-top: -5px
            .label
                display: inline-block
                font-size: 14px
                font-weight: bold
            .txtf-phone
                display: inline-block
                height: 9px
                width: 240px
                margin-left: 10px
                color: #9a0000
            .btn-search
                display: inline-block
                min-width: 20px
                valign: baseline

    ::-webkit-scrollbar
        width: 8px
        height: 8px

    ::-webkit-scrollbar-track
        background: #f1f1f1

    ::-webkit-scrollbar-thumb
        background: #888

    ::-webkit-scrollbar-thumb:hover
        background: #555

    .partner-info
        margin-top: 10px
        margin-bottom: 10px
        color: #000
        .partner-info-item
            .label
                display: inline-block
                margin-right: 5px
                font-weight: bold
            .label-right
                display: inline-block
                float: right
                margin-right: 15px
            .label-energetica
                display: inline-block
                font-weight: bold
                margin-right: 5px
                color: green
            
    .partner-card
        display: inline-block
        margin-bottom: 20px
        .partner-tabs
            max-width: 570px
            background-color: #8FBC8F
            .pe-tabs__row
                max-width: 465px
                min-width: 475px
                min-height: 70px
                .pe-button--selected
                    background-color: #ABD0AB
            .pe-tabs__indicator
                background-color: transparent
            .pe-tabs__scroll-button-start
                color: #98FB98
            .pe-tabs__scroll-button-end
                right: 0
                position: absolute
                color: #98FB98
        .card-info
            background-color: #FFFFFF
            max-width: 570px
            min-height: 620px
            //max-height: 620px


    .contract-info
        border: 2px solid #8FBC8F
        margin-left: 10px
        margin-right: 10px
        margin-bottom: 10px
        width: 515px
        .contract-info-box
            margin-top: 5px
            margin-left: 10px
            width: 500px
            margin-bottom: 5px
            color: #000
            .contract-info-item
                .label
                    display: inline-block
                    font-weight: bold
                    margin-right: 5px
                .label-right
                    display: inline-block
                    font-weight: bold
                    float: right
                    margin-right: 15px
                .label-alert
                    display: inline-block
                    font-weight: bold
                    margin-right: 5px
                    color: #E1232C
                .label-energetica
                    display: inline-block
                    font-weight: bold
                    margin-right: 5px
                    color: green
                .label-generation
                    display: inline-block
                    font-weight: bold
                    margin-right: 5px
                    color: brown

    .contract-field
        background-color: #EEEEEE
        width: 540px
        height: 450px
        overflow: auto
        border-radius: 2%

    .all-info
        display: inline-block

    .icon-search
        font-size: 15px


.tmt-header
    .login-buttons
        display: flex
        align-items: center
        .btn-disconnect
            display: inline-block
            min-width: 10px !important
            min-height: 10px !important
        .btn-iden
            display: inline-block

.dialog-login
    .pe-dialog-pane__content
        max-width: 750px
        min-width: 700px
        text-align: center
        .list-users
            .btn-list
                margin: 2px

    .pe-dialog__content
        min-width: 700px

    .pe-dialog-pane
        min-width: 700px

.icon-exit
    font-size: 25px
    color: #E1232C

.icon-lock
    font-size: 25px

.icon-new-tab
    font-size: 25px
    color: #228B22

.icon-refresh
    font-size: 25px
    //color: #228B22