body {
	color: #511;
	background-color: #eee;
}
body.pe-dark-theme {
	color: #bbb;
	background-color: #242;
}
body, html, #tomatic {
	height: 100%;
	margin: 0;
	padding: 0;
}

#tomatic.main.main.main { // to overwrite defaut styles

.tmt-header {
	background-image: url(./autentico-tomatic-exposicion-del-club-super.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	background-color: black;
	position: relative;
}
.tmt-header__dimmer {
    background-color: rgba(34, 34, 34, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pe-tabs .pe-tabs__tab .pe-tabs__tab-content {
	color: rgb(243, 243, 243);
}
.pe-tabs .pe-tabs__tab.pe-button--selected .pe-tabs__tab-content {
	color: rgb(33, 150, 243);
}
.pe-toolbar .pe-icon,
.pe-toolbar .pe-button--icon,
.pe-toolbar,
.pe-tabs__tab-content
{
	background-color: transparent;
	color: #fff;
	font-size: 120%;
}
.pe-tabs__tab-content {
	height: 55px;
	line-height: 7ex;
}

.main .pe-button-icon {
	color: red;
}
.weeks {
	display: inline-block;
	width: 100%;
	min-width: 50%;
}
.week {
	cursor: pointer;
	text-align: center;
	padding: 3px;
	color: black;
	background: #ccc;
}
.week:hover {
	background: #bcb;
}
.week.current, .week.current:hover {
	font-weight: bold;
	background: #7a7;
}
.week.current:before {
	content: "►";
}
.week.current:after {
	content: "◄";
}

.graella td, .graella th {
	border:1px solid black;
	width: 8em;
	text-align: center;
}
.graella th {
	color: black;
	background: white;
}
.graella td:empty,
.graella td:hover:empty {
	border: none;
	background: none;
	cursor: inherit;
}
.extensions .extension,
.graella td {
	position: relative; /* Ripple needs it */
	padding: 1ex;
	cursor: pointer;
}
.extensions .extension:hover,
.graella td:hover {
	opacity: .9;
}
.extensions .extension .tooltip,
.graella td .tooltip {
	visibility: hidden;
	display: block;
	position: absolute;
	padding: 2px;
	right: 1pt; /* border */
	bottom: 70%; /* border */
	background: inherit;
	border: inherit;
	border-radius: 5px;
}
.extensions .extension:hover .tooltip,
.graella td:hover .tooltip {
	visibility: visible;
	opacity: 1;
}
.graella .separator {
	background: #ddd;
	border: none;
}
.queueeditor {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
.queueitem {
	color: black;
	width: 10em;
	text-align: center;
	display: inline-block;
	padding: 1em;
	border: 2pt solid;
	margin: 2pt;
	cursor: pointer;
	transition: all 1s;
}
.queueitem.paused,
.pe-dark-theme .queueitem.paused
{
	color: red;
	text-decoration: line-through;
	background-color: #fee;
	border-color: #aaa;
}
@keyframes ringing {
	from { transform: rotate(-2deg); }
	to { transform: rotate(2deg); }
}
@keyframes incall {
	from { transform: scale(1); }
	to { transform: scale(1.001); }
}
.queueitem.ringing
{
	animation: ringing .1s linear infinite alternate;
}
.queueitem.incall
{
	box-shadow: 3px 3px 4px #888888;
	transform: translate(-1px, -1px);
}
.queueitem.disconnected,
.pe-dark-theme .queueitem.disconnected
{
	transform: rotate(180deg);
	border-color: red;
}
.queueitem:hover {
	opacity: .8;
}
.extensions .extension.add,
.queueitem.add {
	font-weight: bold;
	border: 2pt dashed #aae;
	color: #aae;
	background-color: #ddf;
}
.pe-dark-theme .queueitem.add {
	color: inherit;
	border-color: inherit;
	background-color: #454;
}
.extensions .extension.add:hover,
.queueitem.add:hover {
	opacity: 0.8;
}
.extensions {
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.extension {
	display: inline-block;
	padding: 1ex 0ex;
	width: 14%;
	text-align: center;
	margin: 2pt 2pt;
	border: 1pt solid black;
	min-width: 5em;
	cursor: pointer;
}
dialog .extension {
	color: black;
	padding-top: 1ex;
	width: 10%;
}
dialog .extension:hover {
	opacity: .8;
}
.graella {
	vertical-align: top;
	text-align: center;
	display: inline-block;
	margin: 4px;
}
.festiu {
	color: red;
	border: red 1pt solid;
}
.changelog {
	text-align: left;
}
.penalties {
	text-align: left;
}
.overloads {
	text-align: left;
}
.codes {
	text-align: left;
}

#snackbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

#snackbar .pe-notification.error .pe-notification__content
{
	color: #fff;
	background-color: #e44;
	border: 1pt solid #faa;
	border-bottom: none;
}
.rgbeditor {
	fieldwidth = 50px
	width: 100%;
	.field {
		width: 9ex;
		padding: 1ex;
		margin: 1ex;
		text-align: center;
		vertical-align: middle;
		display: table-cell;
		border: black 1pt solid;
		color: black;
	}
	.pe-slider.pe-slider.pe-slider {
		margin-top:0;
		margin-bottom:0;
	}
	.pe-slider.red {
		color: #f22;
	}
	.pe-slider.green {
		color: #0a0;
	}
	.pe-slider.blue {
		color: #36a;
	}
	.pe-textfield {
		width: 30px;
	}
}

.busylist {
    .turns {
        font-size: 120%;
        color: #a44;
        float: right;
    }
    .optionallabel {
        transform: rotate(-45deg);
        font-size: 90%;
        padding: 0;
        margin: 0;
    }
}

/* TODO: use polythene classes */
.label-wrapper {
    padding-top: 6px;
}
.label-wrapper .pe-textfield .pe-textfield__input-area {
  padding-top: 0px; /* overwrites default 6px */
}
.label-wrapper .label-wrapper--label {
    transition: .12s;
    color: rgba(0, 0, 0, .53);
    font-size: 10pt;
}
.label-wrapper:focus-within .label-wrapper--label {
    color: rgba(33, 150, 243, .83);
}

.button_logout_callinfo {
    color: #9a0000;
    position: absolute;
    right: 0;
    margin-right: 50px;
}


} // End of overwrite

#tomatic {
    .pe-list-tile.pe-list-tile--header {
        pointer-events: auto;
    }
}

#tomatic.main.main.main {
  .variant-pebrotic {
    .tmt-header {
      background-image: url(./pebrotic.jpg)
    }
  }
  .variant-ketchup {
    .tmt-header {
      background-image: url(./ketchup.png)
    }
  }
}
